<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Django-React Integration Tutorial" />
    <title>Django React Integration</title>
    <link href="../static/css/main.css" rel="stylesheet">
</head>

<body>
    <div id="root"></div>
    <script src="../static/js/vendors~main.chunk.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>